<h1>Book Directory</h1>

<%= form_tag('/search', method: :get, data: { controller: "search" }) do %>
  <%= text_field_tag :search, params[:search], data: { action: "input->search#findResults" } %>
<% end %>

<div id="books">
  <ul>
    <% @books.each do |book| %>
      <%= content_tag :li, book.title %>
    <% end %>
  </ul>
</div>
